<title itemprop="name">{{if .IsHome}} {{ $.Site.Params.description }} | {{ .Title }}
    {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}
</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:title" content="Барбершоп СВОИ Сочи | Нагорная, 23" />
<meta name="twitter:title" content="Барбершоп СВОИ Сочи | Нагорная, 23" />
<meta itemprop="name" content="Барбершоп СВОИ Сочи | Нагорная, 23" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:description"
      content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="ru">
<meta property="og:image" content="https://svoyi.netlify.app/images/tailbliss-cover.webp" />
<meta property="og:image:secure_url" content="https://svoyi.netlify.app/images/tailbliss-cover.webp" />
<meta property="og:type" content="{{if .IsHome}}website{{else}}article{{end}}" />
