<title>{{ .Title }} | Барбершоп СВОИ</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />

<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:title" content="{{ .Title }} | Барбершоп СВОИ" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="og:image" content="https://svoyi.ru/images/tailbliss-cover.webp" />
<meta property="og:url" content="https://svoyi.ru{{ .RelPermalink }}" />
<meta property="og:site_name" content="Барбершоп СВОИ" />
<meta property="og:locale" content="ru" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }} | Барбершоп СВОИ" />
<meta name="twitter:description" content="{{ .Site.Params.description }}" />
<meta name="twitter:image" content="https://svoyi.ru/images/tailbliss-cover.webp" />
